h1{
    width: 65%;
}
form{
    margin-top: 10%;
    margin-left: 10%;
    justify-content: space-around;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    width: 40%;
}
.row{
padding: 5%;
}
.custom-file-input{
    padding: 7.5%;
}
